body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    /* border: 1px solid black; */
}

/* Begin Desktop */
@media (max-width: 1920px) {
    .signUpContainer {
            border-bottom: 1px solid black;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .signUpImg {
            width: 20%;
        }
    
        .signUpMsg {
            display: block;
        }
    
        .signUpBtnContainer {
            width: 33%;
            text-align: right;
        }
    
        /* End of signContainer-------------------------------------- */
    
        .navContainer {
            /* border: 1px solid black; */
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .navTabContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
        }
    
        .dropdown {
            position: relative;
            display: none;
        }

        .logoContainer {
            display: flex;
            align-items: center;
            width: 40%;
        }

        .registerContainer {
            width: 10%;
            text-align: right;
        }

        .companyName {
            display: block;
        }

        .companyName h1 {
            font-size: 32px;
        }

        /* End of Nav */

        .mainContainer {
            display: flex;
            flex-wrap: wrap;
        }
    
        .leftMain {
            background-color: #231F20;
            color: white;
            flex: 1 1 50%;
            /* Adjust the width as needed */
            padding: 50px;
            box-sizing: border-box;
        }
    
        .rightMain {
            flex: 1 1 50%;
            position: relative;
        }
    
        .mainImg {
            max-width: 100%;
            height: auto;
            display: block;
        }
    
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(35, 31, 32, 0.8);
        }
}

@media (max-width: 1200px) {
    .signUpContainer {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .signUpImg {
        width: 20%;
    }

    .signUpMsg {
        display: block;
    }

    .signUpBtnContainer {
        width: 33%;
        text-align: right;
    }

/* End of signContainer-------------------------------------- */

    .navContainer {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navTabContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }

    .dropdown {
        position: relative;
        display: none;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        width: 40%;
    }

    .registerContainer {
        width: 10%;
        text-align: right;
    }

    .companyName {
        display: block;
    }

    .companyName h1 {
        font-size: 24px;
    }

    /* End of Nav */

    .mainContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .leftMain {
        background-color: #231F20;
        color: white;
        flex: 1 1 50%;
        /* Adjust the width as needed */
        padding: 50px;
        box-sizing: border-box;
    }

    .rightMain {
        flex: 1 1 50%;
        position: relative;
    }

    .mainImg {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 31, 32, 0.8);
    }
}

/* End Desktop ---------------------------------------------- */
/* Begin Tablet ---------------------------------------------- */

@media (max-width: 769px) {
    .signUpContainer {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .signUpImg {
        width: 20%;
    }

    .signUpMsg {
        display: none;
    }

    .signUpBtnContainer {
        width: 33%;
        text-align: right;
    }

/* End of signContainer-------------------------------------- */

    .navContainer {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
    }

    .navTabContainer {
        width: 10%;
        display: flex;
        justify-content: left;
    }
    
    .navTabContainer a {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        width: 10%;
        margin-right: 5px;
    }
    
    .registerContainer {
        width: 80%;
        text-align: right;
    }

    .companyName {
        display: none;
    }

    /* End of Nav */

    .mainContainer {
        display: block;
        /* flex-wrap: wrap; */
    }

    .leftMain {
        background-color: #231F20;
        color: white;
        flex: 1 1 100%;
        /* Adjust the width as needed */
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }

    .rightMain {
        flex: 1 1 100%;
        position: relative;
    }

    .mainImg {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 31, 32, 0.8);
    }
}

/* End Tablet ---------------------------------------------- */
/* Begin Mobile ----------------------------------------------*/

@media (max-width: 480px) {
    .signUpContainer {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .signUpImg {
        width: 20%;
    }

    .signUpMsg {
        display: none;
    }

    .signUpBtnContainer {
        width: 80%;
        text-align: right;
    }
/* End of signContainer-------------------------------------- */

    .navContainer {
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
    }

    .navTabContainer {
        width: 10%;
        display: flex;
        justify-content: left;
    }

    .navTabContainer a {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        width: 15%;
        margin-right: 5px;
    }

    .registerContainer {
        width: 75%;
        text-align: right;
    }

    .companyName {
        display: none;
    }

    /* End of Nav */

    .leftMain {
        background-color: #231F20;
        color: white;
        flex: 1 1 100%;
        /* Adjust the width as needed */
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }

    .rightMain {
        flex: 1 1 100%;
        position: relative;
    }
}

/* End Mobile ---------------------------------------------- */
/* General CSS */

/* NavTab Begin -------------------------------------------------------- */


.navTab {
    font-weight: bold;
    padding: 10px;
}

.navLink {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}


.hamburgerMenu {
    width: 30px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #231F20;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
}





/* NavTab End */

.signUpImg {
    margin-right: 10px;
}

.signUpTxt {
    font-weight: bold;
}

.btnContainer {
    margin-left: auto;
}

.newsLetterImg {
    /* border: 1px solid black; */
    height: 50px;
    width: auto;
}



.logoImg {
    height: 50px;
    width: auto;
}

.companyName {
    margin-left: 5px;
}



.whoWeAreContainer {
    padding: 100px;
    text-align: center;
}

.companyTitle {
    color: #8E793E;
}

.whoExploreMsg {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.searchContainer {
    padding: 50px;
}

.searchBox {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.homeLink {
    text-decoration: none;
    color: black;
}

/* All Buttons */

.subscribeBtn {
    border: none;
    background-color: #8E793E;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.subscribeBtn:hover {
    background-color: #AD974F;
}

.registerBtn {
    border: none;
    background-color: #231F20;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.registerBtn:hover {
    background-color: #3a3a3a;
}

.mainNewsletterBtn {
    border: none;
    background-color: #AD974F;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.mainNewsletterBtn:hover {
    background-color: #8E793E;
}

.browseJobsBtn {
    border: none;
    background-color: #231F20;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.browseJobsBtn:hover {
    background-color: #3a3a3a;
}

.postJobsBtn {
    border: none;
    background-color: #8E793E;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.postJobsBtn:hover {
    background-color: #AD974F;
}

.searchBtn {
    border: none;
    background-color: #231F20;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.searchBtn:hover {
    background-color: #3a3a3a;
}

.blogNextBtn {
    border: none;
    background-color: #8E793E;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

/* Table Container */

.tableContainer {
    border: 1px solid #ccc;
    padding: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #231F20;
    color: white;
}

.even {
    background-color: lightgray;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* animation */
/* animate newsletter image */
@keyframes growAndShrink {
    0% {
        transform: scale(.75);
    }

    100% {
        transform: scale(1);
    }
}

.animateImg {
    animation: growAndShrink 2000ms ease-in-out infinite alternate;
    text-align: center;
}

/* animate newsletter center message */
@keyframes dropIn {
    from {
        transform:
            translateY(-100%);
        opacity: 0;
    }

    to {
        transform:
            translateY(0%);
        opacity: 1;
    }
}

.animateMsg {
    animation: dropIn 5000ms infinite;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

/* Newsletter Form CSS  */

.newsltrSignpFormContainer {
    width: 65%;
    margin: auto;
}

.newsltrTitle {
    text-align: center;
}

.formContainer {
    border: 1px solid black;
    
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

/* style the text inputs for email and text boxes */
/* all fields are set to 100% for responsiveness */
input[type=text],
input[type=email] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* bold the labels above the input and the Habits label of the fieldset  */
label,
fieldset {
    font-weight: bold;
}

/* Gender label is an h4 elements so removed the padding and margin
to place it closer to the radio buttons like the other labels */
.formContainer h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* The radio and checkbox labels bolded with the css above for labels
so created a special class to unbold those labels */
.lblCkBoxRadio {
    font-weight: normal;
}

/* large buttons with action verbs (i.e. not just submit) */
.formButton {
    width: 100%;
    padding: 10px;
    background-color: #231F20;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

/* End of form CSS */
/* Start Blog CSS */
/* Moved to blog.html for internal styling example */
/* End Blog CSS */



/* color pallette */
.dark-gold {
    color: #8E793E
}

.light-gold {
    color: #AD974F
}

.intellectual-grey {
    color: #231F20
}

.light-grey {
    color: #EAEAEA
}